
@import accounts.model.Account

@(account: Account)
<!-- Talk Edit Form Modal -->
<form name="editTalkForm" ng-submit="ctrl.updateEntity()">
    <div class="modal fade" id="editTalkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Talk</h4>
                </div>
                <div class="modal-body">
                     <div class="form-group">   <label for="title">Title</label>   <input type="text"          class="form-control"          ng-model="ctrl.selectedEntity.title"          id="title"          value="{{ctrl.selectedEntity.title}}"          required> </div>         <div class="form-group">   <label for="speaker">Speaker</label>   <input type="text"          class="form-control"          ng-model="ctrl.selectedEntity.speaker"          id="speaker"          value="{{ctrl.selectedEntity.speaker}}"          required> </div>         <div class="form-group">   <label for="link">Link</label>   <input type="text"          class="form-control"          ng-model="ctrl.selectedEntity.link"          id="link"          value="{{ctrl.selectedEntity.link}}"          required> </div>        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                    <input type="submit" ng-disabled="editTalkForm.$invalid" class="btn btn-warning" value="Save" />
                </div>
            </div>
        </div>
    </div>
</form>
       