
@import accounts.model.Account

@(account: Account)
<table class="table table-hover">
    <thead>
    <tr>
        <th>Title</th><th>Speaker</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entity in ctrl.entities | filter: searchTalk">
        <td>{{entity.title}}</td><td>{{entity.speaker}}</td>
        <td>
            <a href="{{entity.link}}" target="_blank">
                <i title="Link" class="glyphicon glyphicon-play-circle cursorPointer"></i>
            </a>
        </td>
        <td>
            <i title="Edit" data-toggle="modal" data-target="#editTalkModal" class="glyphicon glyphicon-edit cursorPointer edit-button" ng-click="ctrl.editEntity(entity)">
            </i>
        </td>
        <td>
            <i title="Delete" class="glyphicon glyphicon-trash cursorPointer delete-button" ng-confirm-message="Are you sure want to delete?" ng-confirm-click="ctrl.deleteEntity(entity.title)">
            </i>
        </td>
    </tr>
    </tbody>
</table>

<p>Showing <strong>{{ (ctrl.entities | filter: searchTalk).length }}</strong> of <strong>{{ ctrl.entities.length }}</strong> entries</p>
       